body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(228,202,213,1) 0%, rgba(198,218,241,1) 100%);
}

.zuzova {
    background-color: #FF71FA;
}

.modra {
    background-color: #3CEFFC;
}

.svetske {
    text-align: center; 
    background-color: #F1EEED;
    font-style: italic;
}

.duchovne {
    text-align: center; 
    background-color: #E5E5E5;
    font-style: italic;
}

.nadpisy {
    text-align: center;
    background-color:#CBC0C0;
    font-size: 105%;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    animation: rotate-scale-up 0.65s linear both;
}

a {
    color: #000000;
    transition: 600ms color;
}
  
a:hover {
    color: #666;
}

@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
}
  
