.rainbow {
    height: 100vh;
    background: linear-gradient(90deg, rgba(228,202,213,1) 0%, rgba(198,218,241,1) 100%);
}

a {
    color: #000000;
    transition: 600ms color;
    text-decoration: none;
}
  
a:hover {
    color: #666;
}

li {
    padding-top: 3px;
}

::selection { 
    color: #fff;
    background-color: #000000; 
}

/* ==========================================================================
   main page view
   ========================================================================== */

.container {
    position: fixed;
    left: 48%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding-left: 8px;
    padding-right: 25px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    animation: shadow-drop-2-center 0.65s linear both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
  
@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* ==========================================================================
   table page view
   ========================================================================== */

.pink {
    background-color: #FF71FA;
}

.blue {
    background-color: #3CEFFC;
}

table {
    text-align: center;
    background-color: #F4F3F0;
    border: 1px solid #000;
    border-collapse: collapse; 
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table td {
    border: 1px solid #000;
}

table th {
    border: 1px solid #000;
}

/* ==========================================================================
   timeline view
   ========================================================================== */

.svetske {
    text-align: center; 
    background-color: #F1EEED;
    font-style: italic;
}

.duchovne {
    text-align: center; 
    background-color: #E5E5E5;
    font-style: italic;
}

.timeline-view {
    font-family: "Nunito", sans-serif;
    background-color: rgb(243, 244, 246);
}
  
.timeline-view .period {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #fff;
    display: flex;
    align-items: stretch;
    margin-bottom: 100px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}
  
.timeline-view .period::after {
    content: "";
    width: 4px;
    height: 200vh;
    position: absolute;
    left: -125px;
    background-color: rgb(229, 231, 235);
    transform: translate(-50%, -50%);
}
  
.timeline-view .period::before {
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: -125px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  
.timeline-view .period.secular::before {
    background-color: rgb(6, 95, 70);
    box-shadow: 0 0 0 20px rgba(6, 95, 70, 0.2);
}
  
.timeline-view .period.spiritual::before {
    background-color: rgb(157, 23, 77);
    box-shadow: 0 0 0 20px rgba(157, 23, 77, 0.2);
}
  
.timeline-view .period .epoch {
    flex: 1;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
  
.timeline-view .period.secular .epoch {
    background-color: rgb(6, 95, 70);
    color: rgb(153, 246, 228);
}
  
.timeline-view .period.spiritual .epoch {
    background-color: rgb(157, 23, 77);
    color: rgb(251, 207, 232);
}
  
.timeline-view .period .description {
    padding: 10px 20px;
    overflow: hidden;
}
  
.timeline-view .period .lists {
    background-color: rgba(229, 231, 235, 0.25);
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
    margin-bottom: 10px;
}
  
.timeline-view .period .lists .list {
    color: #6b7280;
    flex: 1;
    width: 100%;
    padding: 10px 20px;
}
  
.timeline-view .period .lists .list.center {
    border-left: 1px solid rgb(229, 231, 235);
    border-right: 1px solid rgb(229, 231, 235);
}
  
.timeline-view .period .lists .list h4 {
    margin-top: 0;
    margin-bottom: 0;
}
  
.timeline-view .period .lists .list ul {
    padding-left: 20px;
    margin-bottom: 0;
}
  
.timeline-view .images {
    display: flex;
    width: 100%;
    height: 150px;
    margin-left: -10px;
    margin-right: -10px;
}
  
.timeline-view .images img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

/* ==========================================================================
   digital page view
   ========================================================================== */

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed #18cce4;
}

.digital {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: #18cce4;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.led {
    display: block;
    width: 10px;
    height: 5px;
    background-color: #ff0000;
    position: absolute;
    top: -20px;
    left: 0;
    animation: blink 1s infinite;
}

.copyright {
    font-family: sans-serif;
    position: absolute;
    bottom: -40px;
    right: 0;
    color: whitesmoke;
    font-size: 10px;
}

@keyframes blink {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes numericChange {
    0% {color: #18cce4;}
    80% {color: #18cce4;}
    100% {color: #fff;}
}

@keyframes minutesChange {
    50% {color: #18cce4;}
    98% {color: #18cce4;}
    100% {color: #fff;}
}

#minutes {
    animation: minutesChange 60s infinite;
    display: inline-block;
    width: 55px;
}
  
#seconds {
    animation: numericChange 1s infinite;
    display: inline-block;
    width: 55px;
}
  
#fractions {
    animation: numericChange 100ms infinite;
    display: inline-block;
    width: 50px;
}

#dots {
    animation: blink 1s infinite;
    display: inline-block;
    width: auto;
}

/* ==========================================================================
   bmr page view
   ========================================================================== */

input {
    appearance: none;
    border-color: transparent;
    text-align: right;
    float: right;
    font-size: 75%;
}

select {
    appearance: none;
    border-color: transparent;
    float: right;
    font-size: 75%;
    font-weight: bold;
    height: 23px;
}

button {
    appearance: none;
    background-color: #11a77e;
    border-color: transparent;
    width: 300px;
    height: 35px;
    font-weight: bold;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: 7px;
}

.bmr {
    background-image: url('./bmr/backg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 90%;
}

form {
    box-shadow: 6px 19px 23px 1px rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #000;
    background-color: #fff;
}

label {
    padding-top: 3px;
}

.box {
    box-shadow: 6px 19px 23px 1px rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: fixed;
    top: 130%;
    left: 80%;
    transform: translate(-80%, -80%);
    padding: 12px;
    color: #000;
    background-color: #fff;
    width: 277px;
    font-family: sans-serif;
}

.back {
    position: fixed;
    right: -770px;
    top: -500px;
    background-color: #fff;
    pointer-events: none;
    z-index: -1;
    height: 300vh;
    width: 155vh;
    transform: rotate(20deg);
}

.copy {
    position: fixed;
    top: 96%;
    right: 1%;
    color: #000;
    font-family: sans-serif;
    font-size: 10px;
}
/* ==========================================================================
   zone view
   ========================================================================== */

@keyframes breathe {
    0% {
        background-color: #60435F;
        transform: scale(1.0);
    }
    30% {
        background-color: #D67AB1;
        transform: scale(1.5);
    }
    60% {
        background-color: #E2A3C7;
        transform: scale(1.5);
    }
    90% {
        background-color: #60435F;
        transform: scale(1.0);
    }
}

@keyframes breathetext {
    0% {
        content: "nádech";
    }
    30% {
        content: "nádech";
    }
    60% {
        content: "zadržet";
    }
    70% {
        content: "výdech";
    }
    90% {
        content: "výdech";
    }
}

.breathing {
    top: 5%;
    left: 30%;
    transform: translate(-50% -50%);
    margin: 150px;
    width: 300px;
    height: 300px;
    background-color: #60435F;
    border-radius: 50%;
    animation: infinite 10s breathe;
    position: relative;
}

.breathing::after {
    content: "nádech";
    color: #FFEDDF;
    position: absolute;
    font-family: sans-serif;
    font-size: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: infinite 10s breathetext;
}

/* ==========================================================================
   anj view
   ========================================================================== */

p {
    padding: 20px;
    background-color: #40e0d0;
}

.und {
    text-decoration: underline;
    background-color: #ddd01e;
    font-weight: bold;
    padding: 5px;
}

.change {
    text-decoration: underline;
    background-color: #FF71FA;
    font-weight: bold;
    margin: 3px;
    margin-top: 20px;
}

.change-text {
    color: #254d00;
}

.sans {
    font-family: sans-serif;
}

.exp {
    background-color: #23acac;
    margin: 3px;
    padding: 5px;
}

.padding {
    padding: 5px;
}

table {
    border: 1px solid #000;
    position: relative;
}

table td {
    border: 1px solid #000;
}

table th {
    border: 1px solid #000;
}

thead {
    background-color: #e0caac;
}

tbody {
    background-color: #c4aa85;
}

.descr {
    width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}

.pinkie {
    background-color: #FF71FA;
    padding: 3px;
}

.yellow {
    background-color: #ddd01e;
    padding: 3px;
}

.heading {
    text-align: center; 
    font-weight: bold; 
    text-decoration: underline;
    padding: 5px;
}
.padding-heading {
    padding-top: 50px;
}

.under {
    text-align: left;
    font-weight: bold; 

    padding: 5px;
}

.sub {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.topic {
    font-weight: bold;
    text-decoration: underline;
}