.rainbow {
    height: 100vh;
    background: linear-gradient(90deg, rgba(228,202,213,1) 0%, rgba(198,218,241,1) 100%);
}

a {
    color: #000000;
    transition: 600ms color;
}
  
a:hover {
    color: #666;
}

li {
    padding-top: 3px;
}

/* ==========================================================================
   main page view
   ========================================================================== */

.container {
    position: fixed;
    left: 48%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding-left: 8px;
    padding-right: 25px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    animation: shadow-drop-2-center 0.65s linear both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
  
@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* ==========================================================================
   table page view
   ========================================================================== */

.pink {
    background-color: #FF71FA;
}

.blue {
    background-color: #3CEFFC;
}

table {
    text-align: center;
    background-color: #F4F3F0;
    border: 1px solid #000;
    border-collapse: collapse; 
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table td {
    border: 1px solid #000;
}

table th {
    border: 1px solid #000;
}

/* ==========================================================================
   timeline view
   ========================================================================== */

.svetske {
    text-align: center; 
    background-color: #F1EEED;
    font-style: italic;
}

.duchovne {
    text-align: center; 
    background-color: #E5E5E5;
    font-style: italic;
}

.timeline-view {
    font-family: "Nunito", sans-serif;
    background-color: rgb(243, 244, 246);
}
  
.timeline-view .period {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #fff;
    display: flex;
    align-items: stretch;
    margin-bottom: 100px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}
  
.timeline-view .period::after {
    content: "";
    width: 4px;
    height: 200vh;
    position: absolute;
    left: -125px;
    background-color: rgb(229, 231, 235);
    transform: translate(-50%, -50%);
}
  
.timeline-view .period::before {
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: -125px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  
.timeline-view .period.secular::before {
    background-color: rgb(6, 95, 70);
    box-shadow: 0 0 0 20px rgba(6, 95, 70, 0.2);
}
  
.timeline-view .period.spiritual::before {
    background-color: rgb(157, 23, 77);
    box-shadow: 0 0 0 20px rgba(157, 23, 77, 0.2);
}
  
.timeline-view .period .epoch {
    flex: 1;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
  
.timeline-view .period.secular .epoch {
    background-color: rgb(6, 95, 70);
    color: rgb(153, 246, 228);
}
  
.timeline-view .period.spiritual .epoch {
    background-color: rgb(157, 23, 77);
    color: rgb(251, 207, 232);
}
  
.timeline-view .period .description {
    padding: 10px 20px;
    overflow: hidden;
}
  
.timeline-view .period .lists {
    background-color: rgba(229, 231, 235, 0.25);
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
    margin-bottom: 10px;
}
  
.timeline-view .period .lists .list {
    color: #6b7280;
    flex: 1;
    width: 100%;
    padding: 10px 20px;
}
  
.timeline-view .period .lists .list.center {
    border-left: 1px solid rgb(229, 231, 235);
    border-right: 1px solid rgb(229, 231, 235);
}
  
.timeline-view .period .lists .list h4 {
    margin-top: 0;
    margin-bottom: 0;
}
  
.timeline-view .period .lists .list ul {
    padding-left: 20px;
    margin-bottom: 0;
}
  
.timeline-view .images {
    display: flex;
    width: 100%;
    height: 150px;
    margin-left: -10px;
    margin-right: -10px;
}
  
.timeline-view .images img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

/* ==========================================================================
   digital page view
   ========================================================================== */

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed #18cce4;
}

.digital {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: #18cce4;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.led {
    display: block;
    width: 10px;
    height: 5px;
    background-color: #ff0000;
    position: absolute;
    top: -20px;
    left: 0;
    animation: blink 1s infinite;
}

.copyright {
    font-family: sans-serif;
    position: absolute;
    bottom: -40px;
    right: 0;
    color: whitesmoke;
    font-size: 10px;
}

@keyframes blink {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes numericChange {
    0% {color: #18cce4;}
    80% {color: #18cce4;}
    100% {color: #fff;}
}

@keyframes minutesChange {
    50% {color: #18cce4;}
    98% {color: #18cce4;}
    100% {color: #fff;}
}

#minutes {
    animation: minutesChange 60s infinite;
    display: inline-block;
    width: 55px;
}
  
#seconds {
    animation: numericChange 1s infinite;
    display: inline-block;
    width: 55px;
}
  
#fractions {
    animation: numericChange 100ms infinite;
    display: inline-block;
    width: 50px;
}

#dots {
    animation: blink 1s infinite;
    display: inline-block;
    width: auto;
}

/* ==========================================================================
   bmr page view
   ========================================================================== */

input {
    appearance: none;
}

select {
    appearance: none;
}

button {
    appearance: none;
}


