.rainbow {
    height: 100vh;
    background: linear-gradient(90deg, rgba(228,202,213,1) 0%, rgba(198,218,241,1) 100%);
}

.zuzova {
    background-color: #FF71FA;
}

.modra {
    background-color: #3CEFFC;
}

.svetske {
    text-align: center; 
    background-color: #F1EEED;
    font-style: italic;
}

.duchovne {
    text-align: center; 
    background-color: #E5E5E5;
    font-style: italic;
}

.nadpisy {
    text-align: center;
    background-color:#DDD4D4;
    font-size: 105%;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    animation: shadow-drop-2-center 0.65s linear both;
}

a {
    color: #000000;
    transition: 600ms color;
}
  
a:hover {
    color: #666;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
  
@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes blink {
    from {opacity: 0}
    to {opacity: 1}
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed #118503;
}

.digital {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

.led {
    position: absolute;
    top: -20px;
    left: 0;
    animation: blink 1s infinite;
}

.copyright {
    position: absolute;
    bottom: -40px;
    right: 0;
}

